@charset "UTF-8";
@font-face {
	font-family: 'Entypo';
	src: url('webfonts/Entypo/entypo.eot');
	src: url('webfonts/Entypo/entypo.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Entypo/entypo.woff') format('woff'),
		url('webfonts/Entypo/entypo.ttf') format('truetype'),
		url('webfonts/Entypo/entypo.svg#Entypo') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Entypo';
        src: url('webfonts/Entypo/entypo.svg#Entypo') format('svg');
    }
}
@-webkit-keyframes pulse {
	0% {background-color: rgba(255,130,23,1.00)}
  	50% {background-color:rgba(255,165,88,1.00)}
	100% {background-color: rgba(255,130,23,1.00)}
}
@-moz-keyframes pulse {
	0% {background-color: rgba(255,130,23,1.00)}
  	50% {background-color:rgba(255,165,88,1.00)}
	100% {background-color: rgba(255,130,23,1.00)}
}
@-o-keyframes pulse {
	0% {background-color: rgba(255,130,23,1.00)}
  	50% {background-color:rgba(255,165,88,1.00)}
	100% {background-color: rgba(255,130,23,1.00)}
}
@keyframes pulse {
	0% {background-color: rgba(255,130,23,1.00)}
  	50% {background-color:rgba(255,165,88,1.00)}
	100% {background-color: rgba(255,130,23,1.00)}
}
::-webkit-input-placeholder {
   color: rgba(250,250,250,0.50);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(250,250,250,0.50);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(250,250,250,0.50);  
}

:-ms-input-placeholder {  
   color: rgba(250,250,250,0.50);  
}
::selection {
	background: #FFFFFF;
	color: #FD7701;
}
::-moz-selection {
	background: #FFFFFF;
	color: #FD7701;
}

#entypoLoader{
	font-family: Entypo;
	text-indent: -9999px;
	position: absolute;
}
html, body {
	overflow: hidden;
	width: 100%;
}
body {
	background-color: #FF7700;
}
#gradient {
	width: 60em;
	height: 60em;
	margin: -37em 0 0 10%;
	position: absolute;
	z-index: -1;
	background-image: radial-gradient(circle closest-side, rgba(250,250,250,0.2), rgba(250,250,250,0));
}
hr {
	height: 2px;
	margin-top: 0;
	border: 0;
	background-image: -webkit-linear-gradient(0deg, #FF7700 0%, #FE8A25 10%, #FE8A25 90%, #FF7700 100%);
	background-image: -moz-linear-gradient(0deg,#FF7700 0%, #FE8A25 10%, #FE8A25 90%, #FF7700 100%);
	background-image: -o-linear-gradient(0deg,#FF7700 0%, #FE8A25 10%, #FE8A25 90%, #FF7700 100%);
	background-image: linear-gradient(90deg, #FF7700 0%, #FE8A25 10%, #FE8A25 90%, #FF7700 100%);
}
h1 {
	color: #FAFAFA;
	font-family: raleway;
	font-size: 3em;
	font-weight: 200;
	font-style: normal;
}
h4 {
	color: #FAFAFA;
	font-family: raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 1em;
}
#wrapper {
	width: 57.5%;
	position: absolute;
	z-index: 1;
	top: 7.5em;
	left: 17%;
	max-width: 47em;
}
p {
	color: #FAFAFA;
	font-family: raleway;
	font-style: normal;
	font-weight: 200;
	font-size: 1em;
	line-height: 1.5em;
}
a {
	color: #FAFAFA;
	font-family: raleway;
	font-style: normal;
	font-weight: 200;
	font-size: 1em;
	text-decoration: none;
	border-bottom: dotted 1px rgba(250,250,250,1.00);
}
a:hover {
	border-bottom: solid 1px rgba(250,250,250,1.00);
}
#comingSoon {
	position: absolute;
	z-index: -2;
	width: 83%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	left: 17%;
	top: -13.2em;
}
#comingSoon p {
	font-family: raleway;
	font-size: 10em;
	height: 2em;
	color: #FF8217;
	font-style: normal;
	font-weight: 800;
	line-height: 0.75em;
}
#mc_embed_signup {
	display: inline-block;
	width: auto;
	margin-bottom: 5em;
}
#mc_embed_signup p {
	color: rgba(250,250,250,0.75);
	display: inline-block;
	width: auto;
	margin-top: 0.5em;
}
#mc-embedded-subscribe {
	visibility: hidden;
}
#formContainer {
	position: relative;
}
form {
	background-color: rgba(250,250,250,0.10);
	font-size: 1em;
	border-radius: 6px;
	border: 1px solid rgba(250,250,250,0.25);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
form input[type="email"] {
	color: rgba(250,250,250,1.00);
	background-color: rgba(0,0,0,0.00);
	box-shadow: none;
	outline: none;
	border: none;
	padding: 0.5em;
	width: 100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 4.5em;                 
	height: 1.75em;
	font-family: raleway;
	font-style: normal;
	font-weight: 200;
	font-size: 1em;
	line-height: 1.2em;
	margin: 0.1em;
}
form input[type="submit"] {
	padding: 0.1em 0.4em 0 0.5em;
	height: 1.7em;
	float: right;
	position: relative;
	top: -1.76em;
	background-color: rgba(255,130,23,1.00);
	border-radius: 4px;
	border-style: none none solid none;
	border-bottom-color: rgba(223,104,0,1.00);
	color: rgba(250,250,250,0.70);
	font-family: raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 1em;
	cursor: pointer;
	outline: none;
	-webkit-animation: pulse 4s infinite;
	-moz-animation: pulse 4s infinite;
	-o-animation: pulse 4s infinite;
	animation: pulse 4s infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
form input[type="submit"]:active {
	background-color: rgba(255,122,10,1.00);
	border-style: none;
	border-bottom-width: 0;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
}
form.focus {
	box-shadow: 0 0 5px rgba(215,99,0,1.00);
	border: 1px solid rgba(235,235,235,1.00);
	-webkit-box-shadow: 0 0 5px rgba(215,99,0,1.00);
}
#notification_container {
	position: absolute;
	margin-top: 0.5em;
	width: inherit;
	font-family: raleway;
	font-style: normal;
	font-weight: 200;
	font-size: 0.8em;
	color: rgba(250,250,250,0.50);	
}
#notification_container a {
	font-family: raleway;
	font-style: normal;
	font-weight: 200;
	font-size: 1em;
	color: rgba(250,250,250,0.50);
	border-bottom: none;
}
#notification_container a:hover {
	border-bottom: dotted;
	border-bottom-width: 1px;
	border-bottom-color: rgba(250,250,250,0.50);
}
.iconFont {
	font-family: Entypo;
	font-size: 2em;
	line-height: 0.6em;
	vertical-align: -0.075em;
}

/* Loading Animation */

#loadingAnimation {
	display: none;
	float: right;
	margin-left: 0.5em;
	top: -1.85em;
	position: relative;
}
#floatingCirclesG{
position:relative;
width:30px;
height:30px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFA658;
height:5px;
width:5px;
-moz-border-radius:3px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:3px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:3px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:3px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:3px;
animation-name:f_fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:12px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#frotateG_02{
left:4px;
top:4px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#frotateG_03{
left:12px;
top:0;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#frotateG_04{
right:4px;
top:4px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#frotateG_05{
right:0;
top:12px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#frotateG_06{
right:4px;
bottom:4px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#frotateG_07{
left:12px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#frotateG_08{
left:4px;
bottom:4px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#CC5C00}

100%{
background-color:#FFA658}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#CC5C00}

100%{
background-color:#FFA658}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#CC5C00}

100%{
background-color:#FFA658}

}

@-o-keyframes f_fadeG{
0%{
background-color:#CC5C00}

100%{
background-color:#FFA658}

}

@keyframes f_fadeG{
0%{
background-color:#CC5C00}

100%{
background-color:#FFA658}

}

/* Media Queries */
@media (max-width:1000px) {
	#wrapper {width:76%; left:0; margin: 0% 12% 0 12%;}
	#comingSoon {width:88%; left:12%;}
}
@media (max-width:640px){
	.circle {display: none;}
	#comingSoon {width:90%; left:10%; top: -6.5em;}
	#comingSoon p{font-size: 5em;}
	#wrapper {width:80%; left:0; top: 2.5em; margin: 0% 10% 0 10%;}
}
